.c-register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 80px;
  background-color: #046c91;

  h5{
    margin-bottom: 35px;
    color: #222;
  }

  .page-reg {
    display: flex;
    justify-content: center;
    width: 1150px;
  }

  .p1-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 500px;

    h4 {
      margin-top: 30px;
      color: #c7d3e3;
    }

    
  }

  .p2-reg {
    display: flex;
    align-items: center;
    width: 50%;

    form {
      width: 400px;
      border: 1px solid #dfdfdf;
      padding: 30px 50px 30px 50px;
      border-radius: 5px;
      background: #fff;
      box-shadow: 0 3px 10px 0 rgb(0 0 0 / 14%);
      box-sizing: border-box;
      input {
        width: 100%;
        margin: 10px 0;
      }
    
      .f-form {
        display: flex;
        justify-content: center;
        font-size: 14px;
        margin-top: 20px;
    
        p {
          margin-left: 5px;
          font-weight: bold;
          color: #046c91;
        }
      }
    }
  }
}
.reg-icon {
  
  margin-left: 40%;
  font-size: 70px;
  align-items: center;
}



.navigateToLogin {
  color: blue;
  text-decoration: underline blue;
  cursor: pointer;
  font-size: 14px;
  margin-left: 85%;  
}

.btn-register {
  width: 100%;
  border: #FF8C00;
  background: #FF8C00;
}

.href {
  margin:  0;
  float: right;
  cursor: pointer;
}

.btn-submit {
  width: 100%;
  background-color: #046c91;
  border: none;
  color: #fff;
  border-radius: 5px;
  outline: none;
}

.cf-reglog {
  display: flex;
  justify-content: center;
  align-self:center;
  width: 100%;

  .f-reglog {
    display: flex;
    justify-content: center;
    align-self:center;
    width: 1150px;
    height: 100px;
    margin-top: 50px;
    font-size: 13px;
    color: #606060;

    span:first-child {
      margin-right: 20px;
    }

    span:nth-child(2) {
      margin-right: 20px;
    }

    span:nth-child(3){
      margin-right: 170px;
      font-weight: bold;
      color: #046c91;
    }
  }
}