.body-cat {

  .modal-body {
    width: 500px!important;
  }
}

.custom-dialog {
  width: 900px!important;
}

.p-cat {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 0;
}
.c-sub {
  display: flex;
  width: 210px;
  height: 100px;
  margin: 12px;
  box-shadow: rgb(49 53 59 / 12%) 0px 1px 6px 0px;
  cursor: pointer;

  .img-olahraga {
    width: 50%;
    background-image: url('../../images/kacamata-renang.png');
    background-position: center;
    background-size: 90px;
    background-repeat: no-repeat;
  }

  .img-olahraga2 {
    width: 50%;
    background-image: url('../../images/bola-sepak.png');
    background-position: center;
    background-size: 60px;
    background-repeat: no-repeat;
  }

  .img-olahraga3 {
    width: 50%;
    background-image: url('../../images/bola-volley.png');
    background-position: center;
    background-size: 90px;
    background-repeat: no-repeat;
  }

  .img-olahraga4 {
    width: 50%;
    background-image: url('../../images/bola-yoga.png');
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
  }

  .img-olahraga5 {
    width: 50%;
    background-image: url('../../images/skiping jump.png');
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
  }

  .img-olahraga6 {
    width: 50%;
    background-image: url('../../images/karpet.png');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-weight: bold;
  }
}