.c-checkout{
  display: flex;
  justify-content: center;
  width: 100%;

  .page-checkout {
    width: 30%;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 300px;
    box-shadow: 0 3px 6px #b4b4b4;
  }

  h5 {
    margin-bottom: 30px;
  }
}

.total-payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #f3efef;

  p{
    font-size: 18px;
    margin: 0;
  }

  p:nth-child(2) {
    color: #046C91;
    font-weight: bold;
  }
}

.active {
  background-color: #046C91;
  color: #ffffff;
}

.payment {
  display: block;
  width: 100%;
  margin-top: 20px;

  h5 {
    font-size: 18px;
    font-weight: bold;
  }

  .btn-payment {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;

    .cod {
      padding: 5px 43.5px;
    }

    .transfer {
      padding: 0 20px;
    }
  }
}

.method {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  input {
    cursor: pointer;
  }
  
  label {
    cursor: pointer;
    padding-left: 30px;
  }
}