.modal-content {
  font-family: 'Roboto', sans-serif; 
}

.modal-body {
  .check {
    margin: 0;

    u {
      margin-left: 10px;
      margin-right: 10px;
      cursor: pointer;
      font-weight: bold;
      color: #046C91;
    }
  }
}