.SignIn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin-left: 35%;
}
.SignIn-icon {
  margin-left: 40%;
  font-size: 70px;
  align-items: center;
}

.SignIn-container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  input {
    width: 100%;
  }
}

.navigateToRegister {
  color: blue;
  text-decoration: underline blue;
  cursor: pointer;
  font-size: 14px;
  margin-left: 85%;  
}

.btn-SignIn {
  width: 100%;
  border: #FF8C00;
  background: #FF8C00;
}


// ---------------------- Responsive for phone ------------------------------------

@media (max-width: 576px) {  

  .container {
    margin-top: 0;
    padding-top: 25px!important;
    margin-bottom: 150px;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .reg-icon {
      margin: 0;
    }
  }

}