.c-cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #f0f3f5;
  margin-top: 80px;

  .navbar-cart {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    display: flex;
    align-items: center;
    width: 1280px;
    height: 100px;
    margin-top: 30px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    z-index: 99;

    .tl {
      display: flex;
      align-items: center;

      p {
        position: relative;
        top: -3px;
        margin: 0;
        font-size: 40px;
        color: #046C91;
      }

      h5 {
        margin: 0;
      }
    }

    .title-cart{
      display: flex;
      justify-content: space-between;
      width: 100%;

      .title-rigth {
        display: flex;
        align-items: center;

        .t-payment {
          display: flex;
          margin-right: 20px;

          h5 {
            margin: 0;
            margin-left: 20px;
            font-size: 24px;
            color: #6e6d6d;
          }

          h5:nth-child(2) {
            font-weight: bold;
            color: #046C91;
          }
        }

        .btn-checkout {
          background-color: #046C91;
          text-decoration: none;
          padding: 8px 40px;
          border: none;
          border-radius: 5px;
          color: white;
          font-size: 14px;
          box-shadow: 0 3px 6px #b4b4b4;
        }
      }
  
      h5{
        display: flex;
        align-items: center;
        color: #046C91;
      }
  
      .line-title{
        width: 2px;
        height: 50px;
        margin: 0 10px;
        background-color:#046C91;
      }
    }

  }

  .page-cart {
    width: 1280px;
    height: 80vh;
    margin-top: 5px;
    margin-bottom: 50px;
    padding: 40px 30px 30px 30px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    background-color: white;

    .card-cart{
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      border: 1px solid rgba(0,0,0,.09);
      margin-bottom: 10px;

      .item-cart{
        display: flex;
        align-items: center;

        img {
          width: 80px;
          height: 80px;
          margin-right: 150px;
          box-shadow: 0 3px 6px #b4b4b4;
        }

        .item-info{
          p {
            margin: 0;
          }
        }
      }

      .status{
        display: flex;
        align-items: center;
        
        p{
          margin: 0;
          font-size: 20px;
          font-weight: bold;
          color: #00ac00;
          text-align: center;
          cursor: pointer;
          }
      }
    }
   
  }
}


.container-checkbox {
  display: block;
  position: relative;
  top: -29px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0px;
  right: 5px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 3px 6px #b4b4b4;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
 
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #046C91;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 3px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// --------------------- responsive to Desktop ----------------------

@media (min-width: 992px) and (max-width: 1600px) {  

  .c-cart .navbar-cart {
    width: 1130px;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
  }
  .c-cart .page-cart {
    width: 1130px;
  }

}